<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andruid.magic.dailytasks">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:name=".application.DailyTasksApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyTasks">
        <activity
            android:name=".ui.activity.NavHostActivity"
            android:exported="true"
            android:theme="@style/Theme.DailyTasks.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DailyTasks" />
        <activity
            android:name=".ui.activity.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddTaskActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DailyTasks.CreateTaskActivity" />
        <activity
            android:name=".ui.activity.CompletedTasksActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.StatisticsActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProductivityActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AlertActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>